

.root {
    -fx-background-color: #e4cdef;
    -fx-background-image: url('https://mir-s3-cdn-cf.behance.net/projects/404/a51b0a148489185.Y3JvcCwzODQwLDMwMDMsMCww.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}


.text-field {
    /*-fx-background-color: #f0f0f0*/
    -fx-background-color: rgba(255, 192, 203, 0.68);
    -fx-text-inner-color: #000000;
    -fx-pref-width: 60px;
}

.button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
}

.grid-pane {
    -fx-hgap: 5;
    -fx-vgap: 5;
}


.vbox {
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.hbox {
    -fx-spacing: 10px;
}
